<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category"><span class="nav-link">Dashboard</span></li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_dashboard') }}">
                <span class="menu-title">Dashboard</span>
                <i class="icon-screen-desktop menu-icon"></i>
            </a>
        </li>
        <li class="nav-item nav-category"><span class="nav-link">Management</span></li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_index') }}">
                <span class="menu-title">Users</span>
                <i class="icon-user menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_produits') }}">
                <span class="menu-title">products</span>
                <i class="icon-user menu-icon"></i>
            </a>
        </li>
       <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_produit_index') }}">
                <span class="menu-title">Promotions</span>
                <i class="icon-user menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
    <a class="nav-link" href="{{ path('admin_commandes') }}">
        
        <span class="menu-title">Commandes</span>
    </a>
     <a class="nav-link" href="{{ path('app_event_index_back') }}">
        
        <span class="menu-title">Event</span>
    </a>
    <a class="nav-link" href="{{ path('app_participation_index_back') }}">
    <span class="menu-title">Participation</span>
</a>

    
    
</li>


    </ul>
</nav>
