<form action="{{ path('app_participation_new_front', { id: participation.idevenement.id }) }}" method="POST">
    {{ form_start(form) }}

    <div class="mb-3">
        {{ form_label(form.age) }}
        {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
        <div class="text-danger">
            {{ form_errors(form.age) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.nbrplace) }}
        {{ form_widget(form.nbrplace, {'attr': {'class': 'form-control'}}) }}
        <div class="text-danger">
            {{ form_errors(form.nbrplace) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.statut) }}
        {{ form_widget(form.statut, {'attr': {'class': 'form-control'}}) }}
        <div class="text-danger">
            {{ form_errors(form.statut) }}
        </div>
    </div>

    <!-- Google reCAPTCHA -->
    <div class="mb-3">
        <div class="g-recaptcha" data-sitekey="6LdCeuIqAAAAADFIuJwVYLApy0rgcGUKh6r6fr6n"></div>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </div>

    <!-- Submit Button -->
    <div class="mb-3">
        <button type="submit" class="btn btn-primary w-100">{{ button_label|default('Save') }}</button>
    </div>

    {{ form_end(form) }}
</form>
